<header class="main-header">
    <nav class="main-header__nav">
        <ul style="list-style-type: none;overflow: hidden;" class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path=== '/home' ? 'active':''%>" href="/adm">Home</a></li>
            <li class="main-header__item"><a class="<%= path=== '/users' ? 'active':''%>" href="/adm/users">Users</a></li>
            <li class="main-header__item"><a class="<%= path=== '/courses' ? 'active':''%>" href="/adm/courses">Courses</a></li>
            <li class="main-header__item"><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>
</header>