<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path=== '/home' ? 'active':''%>" href="/tch">Home</a></li>
            <li class="main-header__item"><a class="<%= path=== '/quiz' ? 'active':''%>" href="/tch/quizzes">Quizzes</a></li>
            <li class="main-header__item"><a class="<%= path=== '/question' ? 'active':''%>" href="/tch/questions">Questions</a></li>
            <li class="main-header__item"><a class="<%= path=== '/profile' ? 'active':''%>" href="/auth/profile">Profile</a></li>
            <li aline="left" class="main-header__item"><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>
</header>