<%- include('includes/tch_head.ejs') %>

</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
            </ul>
        </nav>
    </header>

    <h3>Invalid Email or password please try again</h3>
    <h3><a href="/auth">Login</a></h3>

<%- include('includes/tch_end.ejs') %>